
*{
  margin: 0;
  padding: 0;
}
body{
   font-family: Arial, Helvetica, sans-serif;
};
.container {
  max-width: 1170px;
  margin: auto;
  box-sizing: border-box;
}
.btn{
  padding: 10px 17px;
  margin: 1px;
  background-color: black;
  color: white;
  margin: 1rem 0;
  font-size: 20px;
  cursor: pointer;
}
.btn:hover{
  color:aqua;
}
.btn-block{
  display: block;
  width: 100%;
}
/*navbar styles */
.navbar{
padding:1rem;
background-color: aqua;
}
.navbar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__brand a {
font-size: 1.4rem;
color:black;
text-decoration: none;
}
.nav__brand a:hover{
  color: aquamarine;
}
.nav__links {
  display: flex;
  list-style: none;
  align-items: center;
}
.links__link a{
  display: block;
  padding: 1rem;
  color: aliceblue;
  text-decoration: none;
  margin-left: 0.5rem;
  border: 1px solid black; 
  font-size: 20px;
}
.links__link a:hover{
  border-bottom: 1px solid mintcream;
  color:aqua;
}
.searchbar{
  width: 100%;
  margin: 2rem 0;
}
.search__form > input {
  width: 100%;
  padding: 10px 17px;
  border: 1px salmon;
  background-color: white;
color: black;
font-size: 20px ;
outline-width: 0ch;
}
.search__form > input:focus{
  border: 1px salmon;
  box-shadow: 0 0 1px 1px rgba(60, 148, 139, 0.5);
}
.alert{
  padding: 10px 17px;
  font-size: 20px;
  border: 1px solid black;
  margin: 1rem 0;
}
.alert-warning{
background-color: white;
border: 1px solid yellow;
}
.alert-danger{
background-color: pink;
border: red;
}
.alert-info{
  background-color: white;
  border: 1px solid blue;
}